.over_wrap {
    display: flex;
    gap: 16px;
    height: calc(100% - 16px);
    width: 100%;
    padding: 8px 8px 0 0;
}

.over_nav {
    display: flex;
    width: 200px;
    gap: 8px;
    flex-wrap: wrap;
    height: max-content;
}

.list_wrap {
    flex: 1;
    border-radius: 8px;
    border: thin solid var(--border-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* --- Top Tab & Controls --- */
.list_toptab {
    height: 44px;
    border-bottom: 2px solid var(--border-color);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterControls {
    display: flex;
    gap: 8px;
    align-items: center;
}

.searchInput {
    width: 300px;
}

.areaSelect {
    width: 200px;
}

.actionControls {
    display: flex;
    gap: 8px;
}

.reloadButton {
    background: var(--main_d);
    border-radius: 5px;
    margin: 0;
}

.reloadButtonText {
    color: white;
}


.list_main {
    flex: 1;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}