.list_li {
    border-radius: 4px;
    transition: all .3s linear;
    cursor: pointer;
    padding: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.list_li:hover {
    background: var(--hover);
}