.box {
    background: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    border: thin solid var(--border-color);
}

.ImageBook{
    position: relative;
    width: 150px;
    aspect-ratio: 4 / 5;
}

.ImageBook img {
    object-fit: cover;
    border-radius: 4px;
}

.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
    border-radius: 8px;
    box-shadow: var(--boxshaw2);
    height: calc(100% - 32px);
}

.Boxk{
    width: calc(50% - 4px);
    aspect-ratio: 1;
}